<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title><%= appname %></title>

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body>

    <div class="hero-unit">
      <h1>'Sup</h1>
      <p>You now have</p>
      <ul>
        <li>HTML Template</li>
        <li>Normalize CSS</li>
        <% if (includeSass) { %><li>Sass</li><% } %>
        <% if (includeBourbon) { %><li>Bourbon & Neat</li><% } %>
        <% if (includeUnderscore) { %><li>UnderscoreJS</li><% } %>
      </ul>
      <p>Don't forget to update your readme file.</p>
    </div>

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <!-- endbower -->
    <!-- endbuild -->
  </body>
</html>
